body{
    font-family: sans-serif;
}
.mainContainer{
    display: flex;
    flex-direction: column;
    padding: 10%;
    color: gray;
    background-color: rgb(3, 3, 61);

}
.row1{
    display: flex;
    justify-content: flex-end;
    gap: 3%;
    padding: 2rem 1rem 1rem 1rem;
    color: gray;
    background-color: rgb(3, 3, 61);
}
.row2{
    display: flex;
    justify-content: space-around;
    color: rgb(3, 3, 61);;
    background-color: aqua;
    align-items: center;
}
#headerEle{
    display: flex;
    gap: 5%;
}
#dArrowhead{
    margin-top: -0.10rem;
    display: flex;
    width: 0.5rem; 
    justify-content: center;
    scale: 150%;
}
#uArrowhead{
    margin-top: 0.5rem;
    display: flex;
    width: 0.5rem; 
    justify-content: center;
    scale: 150%;
}
.Resources{
    flex-basis: 100%;
    padding: 5%
}
.Developers{
    flex-basis: 100%;
}
.blue{
    color: lightblue;
}
.docDetails{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    padding: 5%;
}
#image{
    width: 40%;
    border-radius: 15px;
}
h5{
    margin:0;
    display: flex;
    flex-basis:10%;
}
h6{
    margin:0;
}
#whiteHeading{
    color: white;
}
